@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); 

* {
    font-family: 'Lato',Arial, Helvetica, sans-serif;
}

#root{
    
    width: 100vw;
    overflow-y: auto;
    z-index:3;
}


/* Overall Admin Css */
#root .adminHome,
#root .fileHome,
#root .userHome{
    box-shadow: inset rgba(0, 0, 0, 0.20) 0px 5px 15px;
}

/* File Mng Css */

#root .filePage{
    padding-top:70px;
}

#root .flex #pdf-view{
    background-color:white;
}

#root .flex #pdf-view .react-pdf__Document{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:95vh;
    width: 612px;
    text-align: center;
}

