
.container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    max-width:100vw;
    padding-bottom:100px;
    }
    
.div1 { 
   display:flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.uniSelect{
  height:100%;
  width:100%;
}

span.chip.false{
  background-color:#D9534F;
}

.searchWrapper{
  width:300px;
  
}

.topRow{
  display:flex;
  flex-direction: row;
  column-gap: 10px;
}

.bottomRow{
  display:flex;
  flex-direction: row;
}

.minGrade{
  display:flex;
  column-gap:20px;
}

    
.div2 { 
  background-color: #F1F1F1;
    padding-top:50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:30px;
    row-gap:30px;
}

.uni{
  overflow-y:auto;
  height:375px;
}
  
.cardMedia{
  object-fit: scale-down;
}

.MuiTypography-root {
  overflow: auto;
}

.MuiTypography-h5{
  font-size: 1.5rem;
}
.div2 .MuiCardMedia-img{
  padding-top:10px;
  height: 100px;
  object-fit: scale-down;
}
