
.mainContainer{
  display:flex;
  height:95vh;
  width:100vw;
}

.leftContainer{
  display:flex;
  align-items: center;
  justify-content: center;
  flex: 60%;
}

.signupBG{
  height:717.44px;
  width:748.8px;
}

.rightContainer{
  flex:40%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.form{
  display:flex;
  justify-content: center;
  align-items: center;
}

.inputContainer{
  display:flex;
  flex-direction: column;
  row-gap:20px;
}

.signin_title{
  font-size: 35px;
  margin-bottom:30px;
}

.inputContainer > input[type="text"],
.inputContainer > div > input[type="password"]{
    outline: 0;
    border-width: 0px 0px 2px;
    background-color: #FFFFFF;
    text-align: left;
    font-size:20px;
    padding-left:0px;
    width:100%;
}

.inputContainer > input[type="text"]::placeholder{
  font-size:16px;
}

label > p{
  font-size: 20px;
}

.inputContainer > input[type="email"]{
  border-width: 0px 0px 2px;
}

.others{
  text-align: center;
}

.inputContainer > input[type="email"]:focus{
  outline: 0;
}

input:focus{
    border-color:#D9534F;
}

.confirm_button{
    background-color:#D9534F;
    width:100%;
    margin-top:25px;
    padding: 15px 0px 15px 0px;
    font-size:25px;
    letter-spacing: 2px;
    color:#F1F1F1;
    outline: 0;
    border-width: 0px;
}