

.mainContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:50px;
    padding-bottom:100px;
    box-shadow: inset rgba(0, 0, 0, 0.20) 0px 5px 10px;
}

.headerContainer{
    margin-top:50px;
    background: linear-gradient(to right top, #d9534f, #da5652, #dc5956, #dd5c59, #de5f5c, #e06663,
     #e16e6b, #e27572, #e3827f, #e48e8c, #e49a98, #e3a6a5);
    width:90vw;
    border-radius:15px 15px 0px 0px;
    height:40vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: -16px -15px 15px -3px rgba(0,0,0,0.1);
}

.headerText{
    flex:50%;
    padding-left:5vw;
    text-align: left;
    font-weight:bolder;
    color:white;
    flex-direction: column;
    
}

.headerSign{
    font-size:70px;
}

.headerImg{
    flex:40%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom:65px;
}


.studentLogo{
   height:400px;
}

.profileContainer{
    width:90vw;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    border-radius: 0px 0px 15px 15px;
    box-shadow: -16px 10px 15px -3px rgba(0,0,0,0.1);
}

.leftContainer{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    display:flex;
    flex-direction:column;
    flex:15%;
    row-gap:25px;
    font-size:20px;
    align-items: center;
    height:90vh;
    color:white;
    background: linear-gradient(to top, #282828, #2b2b2b, #2d2d2d, #303030, #333333, #373737, #3a3a3a, #3e3e3e, #434343, #484848, #4e4e4e, #535353);
    padding-top:50px;
    border-radius: 0px 0px 0px 15px;
}

.profileOptions{
    display:flex;
    flex-direction: column;
    row-gap:25px;
}


.profileChoice{
    display:flex;
    flex-direction:row;
    align-items: center;
    column-gap:15px;
    /* border-style:solid;
    border-width: 3px 0px 3px 0px;
    border-color:white;
    padding-top:10px;
    padding-bottom:10px; */
}

.profileChoice:hover{
    cursor: pointer;
}

.profileName{
    font-weight:bolder;
    font-size:35px;
}

.profileLogo{
    border-radius: 50%;
    height:150px;
    width:150px;
}

.rightContainer{
    flex:60%;
    background-color:#F1F1F1;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.accountOverview > h1,
.editProfileContainer > h1,
.filesContainer > h1{
    font-size:50px;
    font-weight: bold;
}

.accountOverview > h2{
    font-size:30px;
    font-weight:bold;
}

.accountOverview{
    display:flex;
    flex-direction:column;
    row-gap:30px;
    padding-left:50px;
    padding-top:20px;
    align-items: left;
    height:90vh;
}

.accountItems{
    display:flex;
    flex-direction:row;
    font-size:20px;
}

.accountItems > h1{
    flex:40%;
}

.accountItems > p {
    flex:60%;
}

.editProfileContainer{
    display:flex;
    flex-direction:column;
    height:90vh;
    padding-left:50px;
    padding-top:20px;
}

.editProfileContainer form{
    padding-top:30px;
}


.editForm{
    display:flex;
    flex-direction:column;
    row-gap:30px;
    align-items: flex-start;
}

.editProfileContainer > h2,
.filesContainer > h2{
    padding-top:30px;
    padding-bottom:30px;
    font-size:30px;
    
}

.nameRow input,
.addressBirthRow input,
.countryInterestsRow input,
.roleRow input{
    width:70%;
    border: 1px solid black;
    border-width: 0px 0px 2px;
    -webkit-transition: 0.5s;
    transition:0.5s;
}

input[type="date"]{
    background-color: #F1F1F1;
    outline: 0;
    border-width: 0px 0px 2px;
    width:50%;
    transform:translateX(5px);
}

.addressBirthRow input[type="text"]::placeholder{
    color:black;
}

.nameRow input:focus,
.addressBirthRow input:focus,
.countryInterestsRow input:focus,
.roleRow input:focus{
    border-color:#D9534F;
}

.nameRow, .addressBirthRow, 
.countryInterestsRow, .roleRow{
    display:flex;
    flex-direction: row;
    column-gap:20px;
}

.editForm .button{
    height:60px;
    width:45%;
    font-size:25px;
}

.roleRow .dummy{
    display:hidden;
    border-color:#F1F1F1;
}


.filesContainer{
    display:flex;
    height:90vh;
    flex-direction:column;
}

.confirmBox{
    margin-left: 100px;
}

.button{
  margin-top:40px;
  padding: 0.6em 1.2em;
  border-radius: 0.375em;
  cursor: pointer;
  color: white;
  background: linear-gradient(120deg, #D9534F, #f16560, #962d29);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s, 0.2s all;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  width:45%;
}

.button:disabled {
    background: linear-gradient(120deg, #d6c3c2, #f0ccca, #8e6d6c);
}

 input::file-selector-button{
    margin-top:30px;
    padding: 0.6em 1.2em;
    border-radius: 0.375em;
    color: white;
    background: linear-gradient(120deg, #D9534F, #f16560, #962d29);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s, 0.2s all;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
  }


.button:active, input::file-selector-button:active{
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.button:hover, input::file-selector-button:hover{
    background-position: 0 0;

}

/*Files Container*/
.filesContainer{
    display:flex;
    flex-direction:column;
    height:90vh;
    padding-left:50px;
    padding-top:20px;
}

.filesView{
    display:flex;
    flex-direction: column-reverse;
}

.fileDetails{
    font-size:18px;
    flex-direction: column;
    display:flex;
    row-gap:10px;
}